doctype html 
html 
  head 
    title 
    
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/csslayout.css")
    
    // Title
    title Swoo
    // Favicon
    link(
      sizes="16x16" 
      title="Favicon" 
      href="/images/fav.png" 
      rel="shortcut icon"
      )
    // bootstrap 5
    link(
      href="/css/bootstrap.min.css" 
      rel="stylesheet"
      )
    // font family
    link(
      rel="stylesheet" 
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      )
    // fontawesome icons
    link(
      href="/css/all.min.css" 
      rel="stylesheet"
      )
    // ionicons icons
    link(
      href="/css/ionicons.css" 
      rel="stylesheet"
      )
    // animate css
    link(
      href="/css/animate.css" 
      rel="stylesheet"
      )
    // fancybox popup
    link(
      href="/css/jquery.fancybox.css" 
      rel="stylesheet"
      )
    // lity popup
    link(
      href="/css/lity.css" 
      rel="stylesheet"
      )
    // swiper slider
    link(
      href="/css/swiper8.min.css" 
      rel="stylesheet"
      )
    // izi toast
    link(
      href="/css/iziToast.min.css" 
      rel="stylesheet"
      )
    // common style
    link(
      href="/css/common_style.css" 
      rel="stylesheet"
      )
    // home style
    link(
      href="/css/home_5_style.css" 
      rel="stylesheet"
      )
    //shop
    <link rel="shortcut icon" href="../common/assets/img/fav2.png" title="Favicon" sizes="16x16">

    <link rel="stylesheet" href="shopcss/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap" rel="stylesheet">

    <link rel="stylesheet" href="shopcss/all.min.css">
    <link rel="stylesheet" href="shopcss/line-awesome.css">
    <link rel="stylesheet" href="shopcss/animate.css">
    <link rel="stylesheet" href="shopcss/jquery.fancybox.css">
    <link rel="stylesheet" href="shopcss/lity.css">
    <link rel="stylesheet" href="shopcss/swiper8.min.css">
    <link rel="stylesheet" href="shopcss/iziToast.min.css">
    <link rel="stylesheet" href="shopcss/common_style.css">
    <link rel="stylesheet" href="shopcss/inner_pages.css">


  body 
    include ../partials/header.pug
    block main 
    include ../partials/footer.pug
    script(src="/js/jquery-3.0.0.min.js")
    script(src="/js/jquery-migrate-3.0.0.min.js")
    script(src="/js/bootstrap.bundle.min.js")
    script(src="/js/wow.min.js")
    script(src="/js/jquery.fancybox.js")
    script(src="/js/lity.js")
    script(src="/js/swiper8-bundle.min.js")
    script(src="/js/jquery.waypoints.min.js")
    script(src="/js/jquery.counterup.js")
    script(src="/js/parallaxie.js")
    script(src="/js/iziToast.min.js")
    // ===== gsap scripts =====
    script(src="/js/gsap.min.js")
    //
      <script src="../common/assets/js/gsap_lib/ScrollSmoother.min.js"></script>
        <script src="../common/assets/js/gsap_lib/ScrollTrigger.min.js"></script>
        <script src="../common/assets/js/gsap_lib/SplitText.min.js"></script>
    script(src="js/common_js.js")
    // ===== home scripts =====
    script(src="/js/home_5_scripts.js")
    script(src="/jsclient/jslayout.js")
    //
      <script>
        $(".btn-mob-menu").on("click" , function(){
        $(".mob-navbar-overlay").addClass("show");
        $(".mob-navbar-style5").addClass("show");
        })
        $(".cls-menu , .mob-navbar-overlay").on("click" , function(){
        $(".mob-navbar-overlay").removeClass("show");
        $(".mob-navbar-style5").removeClass("show");
        })
        </script>
    <script src="shopjs/jquery-3.0.0.min.shopjs"></script>
    <script src="shopjs/jquery-migrate-3.0.0.min.shopjs"></script>
    <script src="shopjs/bootstrap.bundle.min.shopjs"></script>
    <script src="shopjs/wow.min.shopjs"></script>
    <script src="shopjs/jquery.fancybox.shopjs"></script>
    <script src="shopjs/lity.shopjs"></script>
    <script src="shopjs/swiper8-bundle.min.shopjs"></script>
    <script src="shopjs/jquery.waypoints.min.shopjs"></script>
    <script src="shopjs/jquery.counterup.shopjs"></script>
    <script src="shopjs/parallaxie.shopjs"></script>
    <script src="shopjs/iziToast.min.shopjs"></script>
    <script src="shopjs/gsap.min.shopjs"></script>
    <script src="../common/assets/shopjs/gsap_lib/ScrollTrigger.min.shopjs"></script>
    <script src="../common/assets/shopjs/gsap_lib/SplitText.min.shopjs"></script> 
    <script src="shopjs/common_shopjs.shopjs"></script>



    <script src="shopjs/inner_pages.shopjs"></script>
