doctype html 
html 
  head 
    
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/csslayout.css")
    
    // SEO
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Mua Sắm Online Giá Tốt, Ưu Đãi Mỗi Ngày - Sản Phẩm Đa Dạng Như Shopee | ECPFFN
    meta(name="description" content="Khám phá hàng ngàn sản phẩm từ các danh mục đa dạng tại ECPFFN. Mua sắm ngay hôm nay để nhận ưu đãi độc quyền tương tự như trên Shopee!")
    meta(name="keywords" content="mua sắm trực tuyến, thương mại điện tử, giảm giá, shopee, ecpffn, ecpffnbienhoa, mua hàng online, mua sắm online, ưu đãi mỗi ngày, thời trang, công nghệ, đồ gia dụng, giao hàng nhanh")
    meta(name="author" content="Gentlement Group")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://ecpffn.vercel.com")
    // Favicon
    link(
      sizes="16x16" 
      title="Favicon" 
      href="/images/fav.png" 
      rel="shortcut icon"
      )
    // bootstrap 5
    link(
      href="/css/bootstrap.min.css" 
      rel="stylesheet"
      )
    // font family
    link(
      rel="stylesheet" 
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      )
    // fontawesome icons
    link(
      href="/css/all.min.css" 
      rel="stylesheet"
      )
    // ionicons icons
    link(
      href="/css/ionicons.css" 
      rel="stylesheet"
      )
    // animate css
    link(
      href="/css/animate.css" 
      rel="stylesheet"
      )
    // fancybox popup
    link(
      href="/css/jquery.fancybox.css" 
      rel="stylesheet"
      )
    // lity popup
    link(
      href="/css/lity.css" 
      rel="stylesheet"
      )
    // swiper slider
    link(
      href="/css/swiper8.min.css" 
      rel="stylesheet"
      )
    // izi toast
    link(
      href="/css/iziToast.min.css" 
      rel="stylesheet"
      )
    // common style
    link(
      href="/css/common_style.css" 
      rel="stylesheet"
      )
    // home style
    link(
      href="/css/home_5_style.css" 
      rel="stylesheet"
      )
    //shop
    <link rel="shortcut icon" href="../common/assets/img/fav2.png" title="Favicon" sizes="16x16">

    <link rel="stylesheet" href="shopcss/bootstrap.min.css">

     link(href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap" rel="stylesheet")
     link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-BV4Wnix4HwCg7zjcPxFxJd3oHksv4B6A/1c7xzATVwF7QRZ7d0HM1WZCsH3c1dPFK6SjSK5bhQW8bQSc5zwIyA==" crossorigin="anonymous" referrerpolicy="no-referrer")

    <link rel="stylesheet" href="/shopcss/all.min.css">
    <link rel="stylesheet" href="/shopcss/line-awesome.css">
    <link rel="stylesheet" href="/shopcss/animate.css">
    <link rel="stylesheet" href="/shopcss/jquery.fancybox.css">
    <link rel="stylesheet" href="/shopcss/lity.css">
    <link rel="stylesheet" href="/shopcss/swiper8.min.css">
    <link rel="stylesheet" href="/shopcss/iziToast.min.css">
    <link rel="stylesheet" href="/shopcss/common_style.css">
    <link rel="stylesheet" href="/shopcss/inner_pages.css">
     link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous" referrerpolicy="no-referrer" )
    link(rel='stylesheet' type='text/css' href='/detailcss/bootstrap.min.css')
    link(rel='stylesheet' type='text/css' href='/detailcss/style.css')
    link(rel='stylesheet' type='text/css' href='/detailcss/responsive.css')
    link(rel='shortcut icon' href='images/favicon.png')
    link(rel='shortcut icon' href='../common/assets/img/fav2.png' title='Favicon' sizes='16x16')



  body 
    include ../partials/header.pug
    block main 
    include ../partials/footer.pug
    script(src="/js/jquery-3.0.0.min.js")
    script(src="/js/jquery-migrate-3.0.0.min.js")
    script(src="/js/bootstrap.bundle.min.js")
    script(src="/js/wow.min.js")
    script(src="/js/jquery.fancybox.js")
    script(src="/js/lity.js")
    script(src="/js/swiper8-bundle.min.js")
    script(src="/js/jquery.waypoints.min.js")
    script(src="/js/jquery.counterup.js")
    script(src="/js/parallaxie.js")
    script(src="/js/iziToast.min.js")
    // ===== gsap scripts =====
    script(src="/js/gsap.min.js")
    //
      <script src="../common/assets/js/gsap_lib/ScrollSmoother.min.js"></script>
        <script src="../common/assets/js/gsap_lib/ScrollTrigger.min.js"></script>
        <script src="../common/assets/js/gsap_lib/SplitText.min.js"></script>
    script(src="js/common_js.js")
    // ===== home scripts =====
    script(src="/js/home_5_scripts.js")
    script(src="/jsclient/jslayout.js")
   
      <script src="/shopjs/jquery-3.0.0.min.shopjs"></script>
      <script src="/shopjs/jquery-migrate-3.0.0.min.shopjs"></script>
      <script src="/shopjs/bootstrap.bundle.min.shopjs"></script>
      <script src="/shopjs/wow.min.shopjs"></script>
      <script src="/shopjs/jquery.fancybox.shopjs"></script>
      <script src="/shopjs/lity.shopjs"></script>
      <script src="/shopjs/swiper8-bundle.min.shopjs"></script>
      <script src="/shopjs/jquery.waypoints.min.shopjs"></script>
      <script src="/shopjs/jquery.counterup.shopjs"></script>
      <script src="/shopjs/parallaxie.shopjs"></script>
      <script src="/shopjs/iziToast.min.shopjs"></script>
      <script src="/shopjs/gsap.min.shopjs"></script>
      <script src="/shopjs/gsap_lib/ScrollTrigger.min.shopjs"></script>
      <script src="/shopjs/gsap_lib/SplitText.min.shopjs"></script> 
      <script src="/shopjs/common_shopjs.shopjs"></script>
      <script src="/shopjs/inner_pages.shopjs"></script>
      <script type="text/javascript" src="/detailjs/jquery.min.js"></script>
      <script type="text/javascript" src="/detailjs/tether.min.js"></script>
      <script type="text/javascript" src="/detailjs/bootstrap.min.js"></script>
      <script type="text/javascript" src="/detailjs/waypoints.min.js"></script>
      <script type="text/javascript" src="/detailjs/jquery.circlechart.js"></script>
      <script type="text/javascript" src="/detailjs/easing.js"></script>
      <script type="text/javascript" src="/detailjs/jquery.zoom.min.js"></script>
      <script type="text/javascript" src="/detailjs/jquery.flexslider-min.js"></script>
      <script type="text/javascript" src="/detailjs/owl.carousel.js"></script>
      <script type="text/javascript" src="/đetailjs/smoothscroll.js"></script>
      <script type="text/javascript" src="/detailjs/jquery-ui.js"></script>
      <script type="text/javascript" src="/detailjs/jquery.mCustomScrollbar.js"></script>
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtRmXKclfDp20TvfQnpgXSDPjut14x5wk&amp;region=GB"></script>
      <script type="text/javascript" src="/detailjs/gmap3.min.js"></script>
      <script type="text/javascript" src="/detailjs/waves.min.js"></script>
      <script type="text/javascript" src="/detailjs/jquery.countdown.js"></script>
      <script type="text/javascript" src="/detailjs/main.js"></script>
		

    // Open Graph Meta Tags
    script(type="application/ld+json").
      {
        "@context": "http://schema.org",
        "@type": "Store",
        "name": "ECPFFN",
        "description": "Mua sắm trực tuyến hàng đầu với hàng ngàn sản phẩm đa dạng.",
        "url": "https://ecpffn.vercel.com"
      }

    // End Open Graph Meta Tags

    <script src="shopjs/inner_pages.shopjs"></script>

